<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/Theme.GroceryStore">
        <activity
            android:name="com.example.grocery_store.presentation.screens.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.GroceryStore">
        </activity>
    </application>
</manifest>